@model Propmaster.Models.CreateListingModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertySize" class="control-label"></label>
                <input asp-for="PropertySize" class="form-control" />
                <span asp-validation-for="PropertySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyLocation" class="control-label"></label>
                <input asp-for="PropertyLocation" class="form-control" />
                <span asp-validation-for="PropertyLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyType" class="control-label"></label>
                <input asp-for="PropertyType" class="form-control" />
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnished" class="control-label"></label>
                <input asp-for="Furnished" class="form-control" />
                <span asp-validation-for="Furnished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedroom" class="control-label"></label>
                <input asp-for="Bedroom" class="form-control" />
                <span asp-validation-for="Bedroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bathroom" class="control-label"></label>
                <input asp-for="Bathroom" class="form-control" />
                <span asp-validation-for="Bathroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carpark" class="control-label"></label>
                <input asp-for="Carpark" class="form-control" />
                <span asp-validation-for="Carpark" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach (var item in Model.PicUrlList)
                {
                    if (!string.IsNullOrWhiteSpace(item))
                    {
                        <img style="width:300px; padding-bottom: 10px;" src="@item" />
                        <div class="row">
                            <a asp-action="DeleteBlob" asp-route-area="@item" asp-route-PropertyLocation="@Model.PropertyLocation" asp-route-PropertyId="@Model.PropertyId">Delete |  </a>
                            <button type="button" class="btn btn-info updateblob" data-toggle="modal" data-target="#myModal" data-title="@item"> Replace Photo </button>
                        </div>
                    }
                }
                <input type="hidden" asp-for="PicUrl" class="form-control" />
                <input type="hidden" asp-for="CreatedBy" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PropertyStatus" class="control-label"></label>
            </div>                <input asp-for="PropertyStatus" class="form-control" />
            <span asp-validation-for="PropertyStatus" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title">Replace Photo</p>
                </div>
                <div class="modal-body">
                    <form asp-action="ReplaceBlob" enctype="multipart/form-data">
                        <input style="padding-bottom: 10px;" asp-for="PicUrl" type="file" id="files" required />
                        <input style="padding-bottom: 10px;" type="hidden" asp-for="Urls" value="" required id="blobname"/>
                        <input type="submit" value="Save" class="btn btn-primary margin-left: 100px;" />
                    </form>
                </div>
                <div class="modal-footer" style="padding: 0.5rem;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    $('.updateblob').on('click', function () {
        document.getElementById("blobname").value = $(this).data('title');
    });
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
