@model IEnumerable<Propmaster.Models.Property>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-controller="Property" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Property Id
            </th>
            <th>
                Property Details
            </th>
            <th>
                Property Status
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var result in Model)
            {
                <tr>
                    <td>
                        @result.PropertyId
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <label class="col-label" style="color:black; font-size: 0.9rem !important;" id="title">@result.Title</label>
                                </div>
                                <div>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="location">@result.PropertyLocation</label>
                                </div>
                                <div>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="propertytype">@result.PropertyType</label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;"> | </label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="propertysize"> @result.PropertySize sqft</label>
                                </div>
                                <div>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="furnised">@result.Furnished</label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;"> | </label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="price">RM @result.Price</label>
                                </div>
                                <div>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="bedroom"><i class="fas fa-bed"></i> @result.Bedroom</label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;"> | </label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="bathroom"><i class="fas fa-bath"></i> @result.Bathroom</label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;"> | </label>
                                    <label class="col-label" style="color:gray; font-size: 0.8rem !important;" id="carpark"><i class="fas fa-car"></i> @result.Carpark</label>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th scope="row" id="status">@result.PropertyStatus</th>
                    <th scope="row" id="datecreated">@result.DateCreated</th>
                    <td>
                        <a asp-controller="Property" asp-action="ConfirmEdit" asp-route-PropertyLocation="@result.PropertyLocation" asp-route-PropertyId="@result.PropertyId">Edit</a> |
                        <a asp-controller="Property" asp-action="Details" asp-route-PropertyLocation="@result.PropertyLocation" asp-route-PropertyId="@result.PropertyId">Details</a> |
                        <a asp-controller="Property" asp-action="ConfirmDelete" asp-route-PropertyLocation="@result.PropertyLocation" asp-route-PropertyId="@result.PropertyId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
